# ====================================================
# app
# ====================================================
    # mode
VITE_MODE=development
    # port
VITE_PORT=3001
    # url
VITE_BASE_URL=http://localhost:3001/admin

# ====================================================
# api
# ====================================================
    # key
VITE_API_KEY=your_api_key
    # url
VITE_API_URL=http://localhost:8000/api

# ====================================================
# cookie
# ====================================================
    # token
VITE_TOKEN_COOKIE_KEY=authtoken
    # user
VITE_USER_COOKIE_KEY=authuser