# Mode: development | production
VITE_MODE=production

# Dev server port
VITE_PORT=3000

# Base URL of the admin app
VITE_BASE_URL=http://localhost:3000/admin/
VITE_API_URL=http://localhost:8000/api

# API Key for client-side requests
VITE_API_KEY=super-secret-client-key